In [17]:
scimago_codes = {
    'United States': 840,
    'China': 156,
    'United Kingdom': 826,
    'Germany': 276,
    'Japan': 392,
    'France': 250,
    'Italy': 380,
    'Canada': 124,
    'India': 356,
    'Australia': 36,
    'Spain': 724,
    'Russian Federation': 643,
    'South Korea': 410,
    'Netherlands': 528,
    'Brazil': 76,
    'Switzerland': 756,
    'Poland': 616,
    'Sweden': 752,
    'Taiwan': 158,
    'Turkey': 792,
    'Iran': 364,
    'Belgium': 56,
    'Denmark': 208,
    'Austria': 40,
    'Israel': 376,
    'Finland': 246,
    'Czech Republic': 203,
    'Mexico': 484,
    'Norway': 578,
    'Greece': 300,
    'Hong Kong': 344,
    'Portugal': 620,
    'Malaysia': 458,
    'Singapore': 702,
    'South Africa': 710,
    'New Zealand': 554,
    'Egypt': 818,
    'Argentina': 32,
    'Ireland': 372,
    'Romania': 642,
    'Saudi Arabia': 682,
    'Ukraine': 804,
    'Hungary': 348,
    'Thailand': 764,
    'Pakistan': 586,
    'Chile': 152,
    'Indonesia': 360,
    'Slovakia': 703,
    'Colombia': 170,
    'Croatia': 191,
    'Nigeria': 566,
    'Slovenia': 705,
    'Serbia': 688,
    'Tunisia': 788,
    'Bulgaria': 100,
    'Algeria': 12,
    'Morocco': 504,
    'Viet Nam': 704,
    'United Arab Emirates': 784,
    'Bangladesh': 50,
    'Lithuania': 440,
    'Jordan': 400,
    'Estonia': 233,
    'Cuba': 192,
    'Venezuela': 862,
    'Iraq': 368,
    'Belarus': 112,
    'Kenya': 404,
    'Philippines': 608,
    'Lebanon': 422,
    'Qatar': 634,
    'Cyprus': 196,
    'Peru': 604,
    'Kazakhstan': 398,
    'Ethiopia': 231,
    'Kuwait': 414,
    'Latvia': 428,
    'Iceland': 352,
    'Ecuador': 218,
    'Ghana': 288,
    'Sri Lanka': 144,
    'Luxembourg': 442,
    'Oman': 512,
    'Uruguay': 858,
    'Georgia': 268,
    'Tanzania': 834,
    'Uganda': 800,
    'Macao': 446,
    'Armenia': 51,
    'Cameroon': 120,
    'Puerto Rico': 630,
    'Nepal': 524,
    'Azerbaijan': 31,
    'Costa Rica': 188,
    'Bosnia and Herzegovina': 70,
    'Uzbekistan': 860,
    'Macedonia': 807,
    'Zimbabwe': 716,
    'Senegal': 686,
    'Sudan': 729,
    'Malta': 470,
    'Botswana': 72,
    'Moldova': 498,
    'Malawi': 454,
    'Palestine': 275,
    'Syrian Arab Republic': 760,
    'Panama': 591,
    'Bahrain': 48,
    'Burkina Faso': 854,
    'Trinidad and Tobago': 780,
    'Jamaica': 388,
    'Côte d’Ivoire': 384,
    'Zambia': 894,
    'Libya': 434,
    'Benin': 204,
    'Mongolia': 496,
    'Congo': 178,
    'Albania': 8,
    'Bolivia': 68,
    'Yemen': 887,
    'Brunei Darussalam': 96,
    'Madagascar': 450,
    'Montenegro': 499,
    'Cambodia': 116,
    'Mozambique': 508,
    'Fiji': 242,
    'Namibia': 516,
    'Mali': 466,
    'Mauritius': 480,
    'Myanmar': 104,
    'Rwanda': 646,
    'Guatemala': 320,
    'Papua New Guinea': 598,
    'Laos': 418,
    'New Caledonia': 540,
    'Gabon': 266,
    'Kyrgyzstan': 417,
    'Paraguay': 600,
    'Gambia': 270,
    'Niger': 562,
    'Monaco': 492,
    'Barbados': 52,
    'Togo': 768,
    'Tajikistan': 762,
    'Dominican Republic': 214,
    'Nicaragua': 558,
    'Liechtenstein': 438,
    'French Polynesia': 250,
    'Grenada': 308,
    'Afghanistan': 4,
    'Guadeloupe': 250,
    'Honduras': 340,
    'Swaziland': 748,
    'El Salvador': 222,
    'Greenland': 208,
    'French Guiana': 250,
    'Angola': 24,
    'Sierra Leone': 694,
    'Democratic Republic Congo': 180,
    'Haïti': 332,
    'Guinea': 324,
    'Bhutan': 64,
    'Guam': 840,
    'North Korea': 408,
    'Faroe Islands': 208,
    'Martinique': 250,
    'Bermuda': 826,
    'Central African Republic': 140,
    'Reunion': 250,
    'Lesotho': 426,
    'Mauritania': 478,
    'Saint Kitts and Nevis': 659,
    'Guyana': 328,
    'Burundi': 108,
    'Bahamas': 44,
    'Seychelles': 690,
    'Guinea-Bissau': 624,
    'Liberia': 430,
    'Eritrea': 232,
    'Chad': 148,
    'Solomon Islands': 90,
    'Suriname': 740,
    'Belize': 84,
    'Vanuatu': 548,
    'Falkland Islands (Malvinas)': 826,
    'Netherlands Antilles': 530,
    'Samoa': 882,
    'Dominica': 212,
    'Cape Verde': 132,
    'Turkmenistan': 795,
    'San Marino': 674,
    'Maldives': 462,
    'Cayman Islands': 826,
    'Federated States of Micronesia': 583,
    'Somalia': 706,
    'Timor-Leste': 626,
    'Djibouti': 262,
    'Andorra': 20,
    'Palau': 585,
    'Virgin Islands (U.S.)': 840,
    'Equatorial Guinea': 226,
    'American Samoa': 840,
    'Antigua and Barbuda': 28,
    'Tonga': 776,
    'Aruba': 530,
    'Comoros': 174,
    'Saint Lucia': 662,
    'Virgin Islands (British)': 826,
    'Gibraltar': 826,
    'Marshall Islands': 584,
    'Montserrat': 826,
    'Saint Vincent and the Grenadines': 670,
    'Anguilla': 826,
    'Cook Islands': 554,
    'Northern Mariana Islands': 840,
    'Mayotte': 250,
    'Vatican City State': 336,
    'Sao Tome and Principe': 678,
    'Kiribati': 296,
    'Turks and Caicos Islands': 826,
    'Republic of South Sudan': 728,
    'Svalbard and Jan Mayen': 28,
    'Saint Helena': 826,
    'Tuvalu': 798,
    'Nauru': 520,
    'British Indian Ocean Territory': 826,
    'Niue': 554,
    'United States Minor Outlying Islands': 840,
    'Norfolk Island': 36,
    'South Georgia and the South Sandwich Islands': 826,
    'Wallis and Futuna': 250,
    'Cocos (Keeling) Islands': 36,
    'Western Sahara': 504,
    'Tokelau': 554,
    'Christmas Island': 36,
    'French Southern Territories': 250,
    'Saint Pierre and Miquelon': 250,
    'Bouvet Island': 28,
    'Pitcairn': 826,
    'Heard Island and McDonald Islands': 36
    }

In [18]:

db_paths = {
    'country_info_path': r'outputs\country_info.csv',
    'over_25_population_path': r'outputs\over_25_population.csv',
    'total_population_path': r'outputs\total_population.csv',
    'gov_effectiveness_path': r'outputs\gov_effectiveness.csv',
    'gdp_pwt': r'outputs\gdp_per_capita_PWT.csv',
    'schooling_wb-gdp': r'outputs\avg_adult_schooling_and_gdp_1996-2017.csv',
}

In [19]:
import pandas as pd
import numpy as np
import os


def generate_database(path, db_paths, scimago_codes):
    
    db = {}
    df = pd.DataFrame()

    ## Loading pre-treated databases; the parts which these are needed are labelled with this same indentation
    df_pop = pd.read_csv(db_paths['total_population_path'], index_col=0 )
    df_pop_code = pd.read_csv(db_paths['over_25_population_path'], index_col=0 )
    df_pop_code.rename(columns={'Total': 'Population Total', 'Numeric code': 'Country code'}, inplace=True)
    df_schooling_new = pd.read_csv(db_paths['schooling_wb-gdp'], index_col=0 )
    df_country_codes = pd.read_csv(db_paths['country_info_path'], index_col=0 )
    df_gdp = pd.read_csv(db_paths['gdp_pwt'], index_col=0 )
    df_gov = pd.read_csv(db_paths['gov_effectiveness_path'], index_col=0 )


    for subdir, dirs, files in os.walk(path):
        # print (subdir)
        # print (dirs)
        # print (files)

        if len(files) > 0:

            subject = subdir[14:]
            print (f"Currently compiling data for {subject}...\n")

            db[subject] = {}

            for filename in files:
                filepath = subdir + os.sep + filename

                if filepath.endswith(".xlsx"):
                    print (f"\tGenerating dataframe for file '{filepath}'\n")

    ## This next part requires df_pop

                    df_scimago = pd.read_excel(filepath)
                    year = int(filepath[-9:-5])
                    country_codes = []

                    for index, row in df_scimago.iterrows():
                        if (row['Country'] == df_pop.iloc[:, 1]).any():
                            filter = (df_pop.iloc[:, 1] == row['Country']) & (df_pop['Year'] == year)
                            country_codes.append(df_pop.loc[filter, "Country code"].item())
                        else:
                            # print(f"\tCountry code for {row['Country']} not found in population database, using {scimago_codes[row['Country']]} instead")
                            country_codes.append(scimago_codes[row['Country']])

                    df_scimago["Country code"] = pd.Series(country_codes)

                    ## To see countries grouped by their sovereign country, add df_scimago['Country'] as argument in the list for groupby()
                    df_scimago = df_scimago[['Documents', 'Citable documents', 'Citations', 'Self-citations']].groupby([df_scimago['Country code']]).sum()
                    
                    ## creating Citations per Document column
                    df_scimago['Citations per Document'] = round((df_scimago['Citations'] / df_scimago['Documents']), 2)

                    ## adding subject column
                    df_scimago['Subject'] = subject

                    ## df_pop must be reindexed for this next part; year filter is applied  
                    df_pop_indexed = df_pop.set_index('Country code')
                    df_pop_new = df_pop_indexed[df_pop_indexed['Year'] == year]
                    df_pop_new['Population 25 Years Before'] = df_pop_indexed[df_pop_indexed['Year'] == (year - 25)]['Population']
                    
                    ## Netherlands Antilles is composed mainly from the population of 4 islands, the main ones being Curaçao and Aruba
                    if (df_scimago.index.get_level_values(0) == 530).any():
                        pop_netherlands_antilles = round(df_pop_new[(df_pop_new.index == 531) | (df_pop_new.index == 534) | (df_pop_new.index == 533) | (df_pop_new.index == 535)][['Population', 'Population 25 Years Before']].apply('sum'), 3)
                        df_pop_new.loc[530] = ["Netherlands Antilles", year, pop_netherlands_antilles[0], pop_netherlands_antilles[1]]

    ## This next part requires df_pop_code

                    ## df_pop_code must be reindexed for this next part; year filter is applied  
                    df_pop_code_new = df_pop_code.set_index('Country code')
                    df_pop_code_new = df_pop_code_new[df_pop_code_new['Year'] == year].iloc[:,[3,4]]
                    
                    ## merge between df_pop and df_pop_code
                    df_pop_new = df_pop_new.join(df_pop_code_new, how='left')

                    ## merge between df_pop_new and df_scimago
                    df_scimago_pop = df_pop_new.join(df_scimago, how='right')

                    ## changing type from string to float
                    df_scimago_pop[['Population', 'Population 25 Years Before']].astype('float')

    ## This next part requires df_schooling_new

                    ## Filering by year and retrieving target columns
                    df_schooling = df_schooling_new.loc[(df_schooling_new['Year'] == year), ['Avg. Adult Schooling','GDP per capita (World Bank)']]
                    
                    ## merge between df_schooling and df_scimago-pop
                    df_sci_pop_schooling = df_scimago_pop.join(df_schooling, how='left')

    ## This next part requires df_country_codes
                    
                    ## retrieving target columns from df_country_codes
                    df_country_independence = pd.DataFrame(df_country_codes.set_index('Numeric code').loc[:, ['Independent', 'Sink OFC', 'Conduit OFC', 'Code']])
                    
                    ## merge between df_country_codes and df_sci_pop_schooling
                    df_sci_pop_schooling = df_country_independence.join(df_sci_pop_schooling, how='right')
                    
    ## This next part requires df_gdp

                    ## filtering by year and retrieving target column
                    filter = (df_gdp['Year'] == year)
                    df_gdp_new = df_gdp.loc[filter, 'GDP per capita (PWT)']

                    ## merging df_gdp_new with df_sci_pop_schooling
                    df_sci_pop_schooling = df_sci_pop_schooling.join(df_gdp_new, how='left')

                    ## adding stats my own stats
                    df_sci_pop_schooling['MAX TAMS'] = df_sci_pop_schooling['Avg. Adult Schooling'] * df_sci_pop_schooling['Population 25 Years Before']
                    df_sci_pop_schooling['REAL TAMS'] = df_sci_pop_schooling['Avg. Adult Schooling'] * df_sci_pop_schooling['Population 25+']
                    df_sci_pop_schooling['Documents / M-TAMS'] = df_sci_pop_schooling['Documents'] / df_sci_pop_schooling['MAX TAMS']
                    df_sci_pop_schooling['Documents / R-TAMS'] = df_sci_pop_schooling['Documents'] / df_sci_pop_schooling['REAL TAMS']
                    df_sci_pop_schooling['Citations / M-TAMS'] = df_sci_pop_schooling['Citations per Document'] * df_sci_pop_schooling['Documents / M-TAMS']
                    df_sci_pop_schooling['Citations / R-TAMS'] = df_sci_pop_schooling['Citations per Document'] * df_sci_pop_schooling['Documents / R-TAMS']

                    ## deleting Population Total column; this data is repeated in Population column (rounded to 2 decimals)
                    del df_sci_pop_schooling['Population Total']

    ## This next part requires df_gov

                    ## filtering by year
                    df_gov_new = df_gov[df_gov['Year'] == year]

                    ## merging df_gov with df_sci_pop_schooling
                    df_sci_pop_schooling_gov = df_sci_pop_schooling.join(pd.DataFrame(df_gov_new['Gov. Effectiveness']), how='left')
                    df_sci_pop_schooling_gov.sort_values(by=['Year', 'Country'], inplace=True)
                    
    ## Appending data to df and db

                    print (f'\t\tAppending dataframe for {year} to main dataframe...')
                    df = df.append(df_sci_pop_schooling_gov)
                    
                    print (f'\t\tCreating dictionary for {year} and appending to database...')
                    df_dict = df_sci_pop_schooling_gov.to_dict()
                    db[subject][year]= df_dict

                    print (f'\t\tDone!\n')
                    
                ## uncomment the line below to test generation of database for just the first year of every subject
                #break
    
    print (f'Saving main dataframe to db.csv file')
    df.to_csv('outputs/db.csv')
    print ('Done!')
    
    return [df, db]

In [20]:
df, db = generate_database(r'subject_areas', db_paths, scimago_codes)

Currently compiling data for Agricultural and Biological Sciences...

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 1996.xlsx'

		Appending dataframe for 1996 to main dataframe...
		Creating dictionary for 1996 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 1997.xlsx'

		Appending dataframe for 1997 to main dataframe...
		Creating dictionary for 1997 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 1998.xlsx'

		Appending dataframe for 1998 to main dataframe...
		Creating dictionary for 1998 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 1999.xlsx'

		Appending dataframe for 1999 to main dataframe...
		Creating dictionary for 1999 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2000.xlsx'

		Appending dataframe for 2000 to main dataframe...
		Creating dictionary for 2000 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2001.xlsx'

		Appending dataframe for 2001 to main dataframe...
		Creating dictionary for 2001 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2002.xlsx'

		Appending dataframe for 2002 to main dataframe...
		Creating dictionary for 2002 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2003.xlsx'

		Appending dataframe for 2003 to main dataframe...
		Creating dictionary for 2003 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2004.xlsx'

		Appending dataframe for 2004 to main dataframe...
		Creating dictionary for 2004 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2005.xlsx'

		Appending dataframe for 2005 to main dataframe...
		Creating dictionary for 2005 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2006.xlsx'

		Appending dataframe for 2006 to main dataframe...
		Creating dictionary for 2006 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2007.xlsx'

		Appending dataframe for 2007 to main dataframe...
		Creating dictionary for 2007 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2008.xlsx'

		Appending dataframe for 2008 to main dataframe...
		Creating dictionary for 2008 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2009.xlsx'

		Appending dataframe for 2009 to main dataframe...
		Creating dictionary for 2009 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2010.xlsx'

		Appending dataframe for 2010 to main dataframe...
		Creating dictionary for 2010 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2011.xlsx'

		Appending dataframe for 2011 to main dataframe...
		Creating dictionary for 2011 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2012.xlsx'

		Appending dataframe for 2012 to main dataframe...
		Creating dictionary for 2012 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2013.xlsx'

		Appending dataframe for 2013 to main dataframe...
		Creating dictionary for 2013 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2014.xlsx'

		Appending dataframe for 2014 to main dataframe...
		Creating dictionary for 2014 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2015.xlsx'

		Appending dataframe for 2015 to main dataframe...
		Creating dictionary for 2015 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2016.xlsx'

		Appending dataframe for 2016 to main dataframe...
		Creating dictionary for 2016 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2017.xlsx'

		Appending dataframe for 2017 to main dataframe...
		Creating dictionary for 2017 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2018.xlsx'

		Appending dataframe for 2018 to main dataframe...
		Creating dictionary for 2018 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Agricultural and Biological Sciences\scimagojr country rank 2019.xlsx'

		Appending dataframe for 2019 to main dataframe...
		Creating dictionary for 2019 and appending to database...
		Done!

Currently compiling data for Biochemistry, Genetics and Molecular Biology...

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 1996.xlsx'

		Appending dataframe for 1996 to main dataframe...
		Creating dictionary for 1996 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 1997.xlsx'

		Appending dataframe for 1997 to main dataframe...
		Creating dictionary for 1997 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 1998.xlsx'

		Appending dataframe for 1998 to main dataframe...
		Creating dictionary for 1998 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 1999.xlsx'

		Appending dataframe for 1999 to main dataframe...
		Creating dictionary for 1999 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2000.xlsx'

		Appending dataframe for 2000 to main dataframe...
		Creating dictionary for 2000 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2001.xlsx'

		Appending dataframe for 2001 to main dataframe...
		Creating dictionary for 2001 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2002.xlsx'

		Appending dataframe for 2002 to main dataframe...
		Creating dictionary for 2002 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2003.xlsx'

		Appending dataframe for 2003 to main dataframe...
		Creating dictionary for 2003 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2004.xlsx'

		Appending dataframe for 2004 to main dataframe...
		Creating dictionary for 2004 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2005.xlsx'

		Appending dataframe for 2005 to main dataframe...
		Creating dictionary for 2005 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2006.xlsx'

		Appending dataframe for 2006 to main dataframe...
		Creating dictionary for 2006 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2007.xlsx'

		Appending dataframe for 2007 to main dataframe...
		Creating dictionary for 2007 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2008.xlsx'

		Appending dataframe for 2008 to main dataframe...
		Creating dictionary for 2008 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2009.xlsx'

		Appending dataframe for 2009 to main dataframe...
		Creating dictionary for 2009 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2010.xlsx'

		Appending dataframe for 2010 to main dataframe...
		Creating dictionary for 2010 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2011.xlsx'

		Appending dataframe for 2011 to main dataframe...
		Creating dictionary for 2011 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2012.xlsx'

		Appending dataframe for 2012 to main dataframe...
		Creating dictionary for 2012 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2013.xlsx'

		Appending dataframe for 2013 to main dataframe...
		Creating dictionary for 2013 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2014.xlsx'

		Appending dataframe for 2014 to main dataframe...
		Creating dictionary for 2014 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2015.xlsx'

		Appending dataframe for 2015 to main dataframe...
		Creating dictionary for 2015 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2016.xlsx'

		Appending dataframe for 2016 to main dataframe...
		Creating dictionary for 2016 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2017.xlsx'

		Appending dataframe for 2017 to main dataframe...
		Creating dictionary for 2017 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2018.xlsx'

		Appending dataframe for 2018 to main dataframe...
		Creating dictionary for 2018 and appending to database...
		Done!

	Generating dataframe for file 'subject_areas\Biochemistry, Genetics and Molecular Biology\scimagojr country rank 2019.xlsx'

		Appending dataframe for 2019 to main dataframe...
		Creating dictionary for 2019 and appending to database...
		Done!

Saving main dataframe to db.csv file
Done!

In [21]:
db.keys()

dict_keys(['Agricultural and Biological Sciences', 'Biochemistry, Genetics and Molecular Biology'])

In [22]:
subject = list(db.keys())[0]
df_2017 = pd.DataFrame(db[subject][2017])
df_2017

,Independent,Sink OFC,Conduit OFC,Code,Country,Year,Population,Population 25 Years Before,Population 25+,Documents,...,Avg. Adult Schooling,GDP per capita (World Bank),GDP per capita (PWT),MAX TAMS,REAL TAMS,Documents / M-TAMS,Documents / R-TAMS,Citations / M-TAMS,Citations / R-TAMS,Gov. Effectiveness
4,Yes,No,No,AFG,Afghanistan,2017,36296.111,14485.543,12618.205,13,...,3.8,18039.87,NaN,55045.0634,47949.1790,0.000236,0.000271,0.000964,0.001106,-1.334610
8,Yes,No,No,ALB,Albania,2017,2884.169,3245.887,1892.473,44,...,10.0,11803.43,11941.20,32458.8700,18924.7300,0.001356,0.002325,0.005666,0.009719,0.083774
12,Yes,No,No,DZA,Algeria,2017,41389.174,27028.330,22879.494,507,...,8.0,13913.84,12323.58,216226.6400,183035.9520,0.002345,0.002770,0.007456,0.008808,-0.589159
16,No,No,No,ASM,American Samoa,2017,55.617,49.900,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.560554
20,Yes,Yes,No,AND,Andorra,2017,76.997,58.882,NaN,3,...,10.2,NaN,NaN,600.5964,NaN,0.004995,NaN,0.049950,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,Yes,No,No,UZB,Uzbekistan,2017,31959.774,21375.114,17145.037,77,...,11.5,62531.04,95953.62,245813.8110,197167.9255,0.000313,0.000391,0.000921,0.001148,-0.557881
862,Yes,No,No,VEN,Venezuela (Bolivarian Republic of),2017,29402.480,20557.694,16254.828,276,...,10.3,NaN,76966.72,211744.2482,167424.7284,0.001303,0.001649,0.004002,0.005061,-1.398328
882,Yes,Yes,No,WSM,Samoa,2017,195.358,165.490,85.281,7,...,10.3,60215.57,NaN,1704.5470,878.3943,0.004107,0.007969,0.008788,0.017054,0.616182
887,Yes,No,No,YEM,Yemen,2017,27834.811,12954.157,10745.291,34,...,3.0,NaN,18502.37,38862.4710,32235.8730,0.000875,0.001055,0.002082,0.002510,-1.915434
894,Yes,No,No,ZMB,Zambia,2017,16853.608,8451.346,5725.647,105,...,7.0,36892.51,36990.11,59159.4220,40079.5290,0.001775,0.002620,0.009549,0.014094,-0.627568

In [24]:
df[(df['Year'] == 2017) & (df['Subject'] == 'Biochemistry, Genetics and Molecular Biology')]

,Independent,Sink OFC,Conduit OFC,Code,Country,Year,Population,Population 25 Years Before,Population 25+,Documents,...,Avg. Adult Schooling,GDP per capita (World Bank),GDP per capita (PWT),MAX TAMS,REAL TAMS,Documents / M-TAMS,Documents / R-TAMS,Citations / M-TAMS,Citations / R-TAMS,Gov. Effectiveness
Country code,,,,,,,,,,,,,,,,,,,,,
4,Yes,No,No,AFG,Afghanistan,2017,36296.111,14485.543,12618.205,7,...,3.8,18039.87,NaN,55045.0634,47949.1790,0.000127,0.000146,0.000546,0.000626,-1.334610
8,Yes,No,No,ALB,Albania,2017,2884.169,3245.887,1892.473,34,...,10.0,11803.43,11941.20,32458.8700,18924.7300,0.001047,0.001797,0.007458,0.012792,0.083774
12,Yes,No,No,DZA,Algeria,2017,41389.174,27028.330,22879.494,339,...,8.0,13913.84,12323.58,216226.6400,183035.9520,0.001568,0.001852,0.014612,0.017262,-0.589159
16,No,No,No,ASM,American Samoa,2017,55.617,49.900,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.560554
20,Yes,Yes,No,AND,Andorra,2017,76.997,58.882,NaN,1,...,10.2,NaN,NaN,600.5964,NaN,0.001665,NaN,0.004995,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,Yes,No,No,UZB,Uzbekistan,2017,31959.774,21375.114,17145.037,29,...,11.5,62531.04,95953.62,245813.8110,197167.9255,0.000118,0.000147,0.000724,0.000903,-0.557881
862,Yes,No,No,VEN,Venezuela (Bolivarian Republic of),2017,29402.480,20557.694,16254.828,127,...,10.3,NaN,76966.72,211744.2482,167424.7284,0.000600,0.000759,0.002879,0.003641,-1.398328
882,Yes,Yes,No,WSM,Samoa,2017,195.358,165.490,85.281,2,...,10.3,60215.57,NaN,1704.5470,878.3943,0.001173,0.002277,0.025813,0.050091,0.616182
887,Yes,No,No,YEM,Yemen,2017,27834.811,12954.157,10745.291,51,...,3.0,NaN,18502.37,38862.4710,32235.8730,0.001312,0.001582,0.039055,0.047083,-1.915434
894,Yes,No,No,ZMB,Zambia,2017,16853.608,8451.346,5725.647,38,...,7.0,36892.51,36990.11,59159.4220,40079.5290,0.000642,0.000948,0.004734,0.006988,-0.627568